CFLAGS="-march=core-avx2 -O2 -pipe -frecord-gcc-switches"
CXXFLAGS="${CFLAGS}"
CHOST="x86_64-pc-linux-gnu"
USE="bindist bzip2 idm ipv6 urandom"
CPU_FLAGS_X86="aes avx avx2 mmx popcnt sse sse2 sse4_1 sse4_2 ssse3"
MAKEOPTS="-j2"
PORTDIR="/usr/portage"
DISTDIR="${PORTDIR}/distfiles"
PKGDIR="${PORTDIR}/packages"
