app-portage/layman                  sync-plugin-portage
sys-devel/binutils                  multitarget
sys-devel/gcc                       gcj mudflap objc objc++ objc-gc
sys-libs/glibc                      gd
