app-accessibility/caribou               ~amd64
app-admin/ansible                       ~amd64
app-admin/apache-tools                  ~amd64
app-admin/puppet                        ~amd64
app-admin/puppet-lint                   ~amd64
app-crypt/mit-krb5                      ~amd64
app-crypt/p11-kit                       ~amd64
app-editors/emacs                       ~amd64
app-emacs/apel                          ~amd64
app-emacs/auto-complete                 ~amd64
app-emacs/babel                         ~amd64
app-emacs/bbdb                          ~amd64
app-emacs/cedet                         ~amd64
app-emacs/circe                         ~amd64
app-emacs/dash                          ~amd64
app-emacs/ecb                           ~amd64
app-emacs/emacs-common-gentoo           ~amd64
app-emacs/emacs-w3m                     ~amd64
app-emacs/erc                           ~amd64
app-emacs/eselect-mode                  ~amd64
app-emacs/flim                          ~amd64
app-emacs/javascript                    ~amd64
app-emacs/jde                           ~amd64
app-emacs/js2-mode                      ~amd64
app-emacs/magit                         ~amd64
app-emacs/markdown-mode                 ~amd64
app-emacs/po-mode                       ~amd64
app-emacs/s                             ~amd64
app-emacs/scala-mode                    ~amd64
app-emacs/semi                          ~amd64
app-emacs/slime                         ~amd64
app-emacs/w3m-type-ahead                ~amd64
app-emacs/w3mnav                        ~amd64  
app-emacs/with-editor                   ~amd64
app-emacs/yaml-mode                     ~amd64
app-emulation/cloud-init                ~amd64
app-emulation/containerd                ~amd64
app-emulation/containerd                ~amd64
app-emulation/libvirt                   ~amd64
app-emulation/libvirt-glib              ~amd64
app-emulation/lxc                       ~amd64
app-emulation/lxd                       ~amd64
app-emulation/qemu                      ~amd64
app-emulation/vagrant                   ~amd64
app-emulation/vagrant-bin               ~amd64
app-emulation/veewee                    ~amd64
app-eselect/eselect-ctags               ~amd64
app-eselect/eselect-emacs               ~amd64
app-eselect/eselect-gradle              ~amd64
app-eselect/eselect-java                ~amd64
app-eselect/eselect-php                 ~amd64
app-eselect/eselect-python              ~amd64
app-eselect/eselect-ruby                ~amd64
app-misc/ddate                          ~amd64
app-misc/detachtty                      ~amd64
app-portage/g-ctan                      ~amd64
app-portage/layman                      ~amd64
app-text/a2ps                           ~amd64
app-text/bdf2psf                        ~amd64
app-text/dvipsk                         ~amd64
app-text/libebook                       ~amd64
app-text/libmwaw                        ~amd64
app-text/libpaper                       ~amd64
app-text/peg-markdown                   ~amd64
app-text/ps2pkm                         ~amd64
app-text/pybookreader                   ~amd64
app-text/teckit                         ~amd64
app-text/texlive                        ~amd64
app-text/texlive-core                   ~amd64
app-text/ttf2pk2                        ~amd64
app-text/xdvik                          ~amd64
dev-db/libpq                            ~amd64
dev-db/postgresql                       ~amd64
dev-db/sqlite                           ~amd64
dev-dotnet/art-sharp                    ~amd64
dev-dotnet/gconf-sharp                  ~amd64
dev-dotnet/gdk-sharp                    ~amd64
dev-dotnet/glade-sharp                  ~amd64
dev-dotnet/glib-sharp                   ~amd64
dev-dotnet/gnome-sharp                  ~amd64
dev-dotnet/gnomevfs-sharp               ~amd64
dev-dotnet/gtk-sharp                    ~amd64
dev-dotnet/gtk-sharp-gapi               ~amd64
dev-dotnet/gtkhtml-sharp                ~amd64
dev-dotnet/gtksourceview-sharp          ~amd64
dev-dotnet/ikvm-bin                     ~amd64
dev-dotnet/mono-addins                  ~amd64
dev-dotnet/nuget                        ~amd64
dev-dotnet/pango-sharp                  ~amd64
dev-dotnet/xdt-for-monodevelop          ~amd64
dev-dotnet/xsp                          ~amd64
dev-go/blackfriday                      ~amd64
dev-go/go-crypto                        ~amd64
dev-go/go-md2man                        ~amd64
dev-go/sanitized-anchor-name            ~amd64
dev-java/htmlcleaner                    ~amd64
dev-java/icedtea                        ~amd64
dev-java/icedtea-web                    ~amd64
dev-java/java-config                    ~amd64
dev-java/leiningen-bin                  ~amd64
dev-java/swt                            ~amd64
dev-lang/clojure                        ~amd64
dev-lang/clojure-contrib                ~amd64
dev-lang/mono                           ~amd64
dev-lang/mono-basic                     ~amd64
dev-lang/orc                            ~amd64
dev-lang/php                            ~amd64
dev-lang/python                         ~amd64
dev-lang/python-exec                    ~amd64
dev-lang/ruby                           ~amd64
dev-lang/scala                          ~amd64
dev-lang/v8                             ~amd64
dev-libs/antlr-c                        ~amd64
dev-libs/boost                          ~amd64
dev-libs/cyrus-sasl                     ~amd64
dev-libs/dbus-c++                       ~amd64
dev-libs/glib                           ~amd64
dev-libs/icu                            ~amd64
dev-libs/kpathsea                       ~amd64
dev-libs/leatherman                     ~amd64
dev-libs/libaio                         ~amd64
dev-libs/libev                          ~amd64
dev-libs/libgcrypt                      ~amd64
dev-libs/libtasn1                       ~amd64
dev-libs/libusb                         ~amd64
dev-libs/libuv                          ~amd64
dev-libs/libverto                       ~amd64
dev-libs/libxml2                        ~amd64
dev-libs/lzo                            ~amd64
dev-libs/mathjax                        ~amd64
dev-libs/nettle                         ~amd64
dev-libs/nspr                           ~amd64
dev-libs/nss                            ~amd64
dev-lisp/alexandria                     ~amd64
dev-lisp/anaphora                       ~amd64
dev-lisp/araneida                       ~amd64
dev-lisp/arnesi                         ~amd64
dev-lisp/asdf                           ~amd64
dev-lisp/asdf-binary-locations          ~amd64
dev-lisp/babel                          ~amd64
dev-lisp/bordeaux-threads               ~amd64
dev-lisp/cffi                           ~amd64
dev-lisp/chunga                         ~amd64
dev-lisp/cl-acl-compat                  ~amd64
dev-lisp/cl-aserve                      ~amd64
dev-lisp/cl-base64                      ~amd64
dev-lisp/cl-cgi-utils                   ~amd64
dev-lisp/cl-defsystem3                  ~amd64
dev-lisp/cl-drakma                      ~amd64
dev-lisp/cl-environment                 ~amd64
dev-lisp/cl-fad                         ~amd64
dev-lisp/cl-flexi-streams               ~amd64
dev-lisp/cl-gd                          ~amd64
dev-lisp/cl-htmlgen                     ~amd64
dev-lisp/cl-hunchentoot                 ~amd64
dev-lisp/cl-jpeg                        ~amd64
dev-lisp/cl-json                        ~amd64
dev-lisp/cl-kmrcl                       ~amd64
dev-lisp/cl-l10n                        ~amd64
dev-lisp/cl-launch                      ~amd64
dev-lisp/cl-lml                         ~amd64
dev-lisp/cl-lml2                        ~amd64
dev-lisp/cl-log                         ~amd64
dev-lisp/cl-md5                         ~amd64
dev-lisp/cl-modlisp                     ~amd64
dev-lisp/cl-net-telent-date             ~amd64
dev-lisp/cl-pdf                         ~amd64
dev-lisp/cl-plus                        ~amd64
dev-lisp/cl-plus-ssl                    ~amd64
dev-lisp/cl-postoffice                  ~amd64
dev-lisp/cl-ppcre                       ~amd64
dev-lisp/cl-ppcre-unicode               ~amd64
dev-lisp/cl-ptester                     ~amd64
dev-lisp/cl-puri                        ~amd64
dev-lisp/cl-rfc2388                     ~amd64
dev-lisp/cl-rt                          ~amd64
dev-lisp/cl-smtp                        ~amd64
dev-lisp/cl-split-sequence              ~amd64
dev-lisp/cl-sql                         ~amd64
dev-lisp/cl-store                       ~amd64
dev-lisp/cl-tbnl                        ~amd64
dev-lisp/cl-trivial-gray-streams        ~amd64
dev-lisp/cl-uffi                        ~amd64
dev-lisp/cl-unicode                     ~amd64
dev-lisp/cl-url-rewrite                 ~amd64
dev-lisp/cl-vectors                     ~amd64
dev-lisp/cl-who                         ~amd64
dev-lisp/cl-xmls                        ~amd64
dev-lisp/climacs                        ~amd64
dev-lisp/clisp                          ~amd64
dev-lisp/clon                           ~amd64
dev-lisp/closer-mop                     ~amd64
dev-lisp/closure                        ~amd64
dev-lisp/closure-common                 ~amd64
dev-lisp/closure-html                   ~amd64
dev-lisp/clsql                          ~amd64
dev-lisp/clx                            ~amd64
dev-lisp/cxml                           ~amd64
dev-lisp/drakma                         ~amd64
dev-lisp/ecls                           ~amd64
dev-lisp/fiveam                         ~amd64
dev-lisp/flexi-streams                  ~amd64
dev-lisp/flexichain                     ~amd64
dev-lisp/gentoo-init                    ~amd64
dev-lisp/html-template                  ~amd64
dev-lisp/hunchentoot                    ~amd64
dev-lisp/ieee-floats                    ~amd64
dev-lisp/iolib                          ~amd64
dev-lisp/ironclad                       ~amd64
dev-lisp/iterate                        ~amd64
dev-lisp/kmrcl                          ~amd64
dev-lisp/lift                           ~amd64
dev-lisp/local-time                     ~amd64
dev-lisp/mcclim                         ~amd64
dev-lisp/md5                            ~amd64
dev-lisp/named-readtables               ~amd64
dev-lisp/net-telent-date                ~amd64
dev-lisp/parenscript                    ~amd64
dev-lisp/postmodern                     ~amd64
dev-lisp/ptester                        ~amd64
dev-lisp/puri                           ~amd64
dev-lisp/rfc2388                        ~amd64
dev-lisp/rsm-mod                        ~amd64
dev-lisp/rt                             ~amd64
dev-lisp/s-base64                       ~amd64
dev-lisp/s-xml                          ~amd64
dev-lisp/salza                          ~amd64
dev-lisp/salza2                         ~amd64
dev-lisp/sbcl                           ~amd64
dev-lisp/skippy                         ~amd64
dev-lisp/spatial-trees                  ~amd64
dev-lisp/split-sequence                 ~amd64
dev-lisp/trivial-backtrace              ~amd64
dev-lisp/trivial-features               ~amd64
dev-lisp/trivial-garbage                ~amd64
dev-lisp/trivial-gray-streams           ~amd64
dev-lisp/trivial-ldap                   ~amd64
dev-lisp/trivial-sockets                ~amd64
dev-lisp/trivial-timers                 ~amd64
dev-lisp/trivial-utf8                   ~amd64
dev-lisp/uffi                           ~amd64
dev-lisp/uiop                           ~amd64
dev-lisp/url-rewrite                    ~amd64
dev-lisp/usocket                        ~amd64
dev-lisp/uuid                           ~amd64
dev-lisp/xlunit                         ~amd64
dev-lisp/xmls                           ~amd64
dev-lisp/zip                            ~amd64
dev-lisp/zpb-ttf                        ~amd64
dev-perl/pcsc-perl                      ~amd64
dev-php/pecl-imagick                    ~amd64
dev-python/Babel                        ~amd64
dev-python/CacheControl                 ~amd64
dev-python/PyQt4                        ~amd64
dev-python/PySocks                      ~amd64
dev-python/appdirs                      ~amd64
dev-python/backports                    ~amd64
dev-python/backports-shutil_get_terminal_size   ~amd64
dev-python/backports-ssl-match-hostname ~amd64
dev-python/blinker                      ~amd64
dev-python/certifi                      ~amd64
dev-python/cffi                         ~amd64
dev-python/chardet                      ~amd64
dev-python/cliff                        ~amd64
dev-python/cmd2                         ~amd64
dev-python/colorama                     ~amd64
dev-python/configobj                    ~amd64
dev-python/cryptography                 ~amd64
dev-python/cython                       ~amd64
dev-python/debtcollector                ~amd64
dev-python/decorator                    ~amd64
dev-python/distlib                      ~amd64
dev-python/docker-py                    ~amd64
dev-python/entrypoints                  ~amd64
dev-python/enum34                       ~amd64
dev-python/extras                       ~amd64
dev-python/funcsigs                     ~amd64
dev-python/functools32                  ~amd64
dev-python/html5lib                     ~amd64
dev-python/idna                         ~amd64
dev-python/ipykernel                    ~amd64
dev-python/ipyparallel                  ~amd64
dev-python/ipython                      ~amd64
dev-python/ipython_genutils             ~amd64
dev-python/iso8601                      ~amd64
dev-python/jinja                        ~amd64
dev-python/jsonpatch                    ~amd64
dev-python/jsonpointer                  ~amd64
dev-python/jsonschema                   ~amd64
dev-python/jupyter_client               ~amd64
dev-python/jupyter_core                 ~amd64
dev-python/keystoneauth                 ~amd64
dev-python/libvirt-python               ~amd64
dev-python/linecache2                   ~amd64
dev-python/lockfile                     ~amd64
dev-python/markupsafe                   ~amd64
dev-python/mimeparse                    ~amd64
dev-python/mistune                      ~amd64
dev-python/monotonic                    ~amd64
dev-python/msgpack                      ~amd64
dev-python/nbconvert                    ~amd64
dev-python/nbformat                     ~amd64
dev-python/ndg-httpsclient              ~amd64
dev-python/netaddr                      ~amd64
dev-python/netifaces                    ~amd64
dev-python/notebook                     ~amd64
dev-python/numpy                        ~amd64
dev-python/oauthlib                     ~amd64
dev-python/openstacksdk                 ~amd64
dev-python/os-client-config             ~amd64
dev-python/osc-lib                      ~amd64
dev-python/oslo-config                  ~amd64
dev-python/oslo-i18n                    ~amd64
dev-python/oslo-serialization           ~amd64
dev-python/oslo-utils                   ~amd64
dev-python/packaging                    ~amd64
dev-python/paramiko                     ~amd64
dev-python/path-py                      ~amd64
dev-python/pbr                          ~amd64
dev-python/pep8                         ~amd64
dev-python/pexpect                      ~amd64
dev-python/pickleshare                  ~amd64
dev-python/pillow                       ~amd64
dev-python/pip                          ~amd64
dev-python/ply                          ~amd64
dev-python/positional                   ~amd64
dev-python/prettytable                  ~amd64
dev-python/progress                     ~amd64
dev-python/prompt_toolkit               ~amd64
dev-python/psycopg                      ~amd64
dev-python/ptyprocess                   ~amd64
dev-python/py                           ~amd64
dev-python/pyGPG                        ~amd64
dev-python/pyasn1                       ~amd64
dev-python/pyatspi                      ~amd64
dev-python/pycparser                    ~amd64
dev-python/pycrypto                     ~amd64
dev-python/pycurl                       ~amd64
dev-python/pyelftools                   ~amd64
dev-python/pygments                     ~amd64
dev-python/pygobject                    ~amd64
dev-python/pyjwt                        ~amd64
dev-python/pyopenssl                    ~amd64
dev-python/pyparsing                    ~amd64
dev-python/pyserial                     ~amd64
dev-python/pytest                       ~amd64
dev-python/pytest-runner                ~amd64
dev-python/python-cinderclient          ~amd64
dev-python/python-designateclient       ~amd64
dev-python/python-glanceclient          ~amd64
dev-python/python-heatclient            ~amd64
dev-python/python-keystoneclient        ~amd64
dev-python/python-neutronclient         ~amd64
dev-python/python-novaclient            ~amd64
dev-python/python-openstackclient       ~amd64
dev-python/python-swiftclient           ~amd64
dev-python/pytz                         ~amd64
dev-python/pyxattr                      ~amd64
dev-python/pyyaml                       ~amd64
dev-python/pyzmq                        ~amd64
dev-python/requests                     ~amd64
dev-python/requestsexceptions           ~amd64
dev-python/retrying                     ~amd64
dev-python/rfc3986                      ~amd64
dev-python/setuptools                   ~amd64
dev-python/setuptools_scm               ~amd64
dev-python/simplegeneric                ~amd64
dev-python/simplejson                   ~amd64
dev-python/sip                          ~amd64
dev-python/six                          ~amd64
dev-python/ssl-fetch                    ~amd64
dev-python/stevedore                    ~amd64
dev-python/strict-rfc3339               ~amd64
dev-python/subunit                      ~amd64
dev-python/terminado                    ~amd64
dev-python/testtools                    ~amd64
dev-python/traceback2                   ~amd64
dev-python/traitlets                    ~amd64
dev-python/unicodecsv                   ~amd64
dev-python/unittest2                    ~amd64
dev-python/urllib3                      ~amd64
dev-python/vcversioner                  ~amd64
dev-python/virtualenv                   ~amd64
dev-python/warlock                      ~amd64
dev-python/wcwidth                      ~amd64
dev-python/webcolors                    ~amd64
dev-python/wrapt                        ~amd64
dev-ruby/abstract                       ~amd64
dev-ruby/ansi                           ~amd64
dev-ruby/aws-s3                         ~amd64
dev-ruby/bundler                        ~amd64
dev-ruby/childprocess                   ~amd64
dev-ruby/chronic                        ~amd64
dev-ruby/deep_merge                     ~amd64
dev-ruby/did_you_mean                   ~amd64
dev-ruby/domain_name                    ~amd64
dev-ruby/erubis                         ~amd64
dev-ruby/facter                         ~amd64
dev-ruby/ffi                            ~amd64
dev-ruby/hashicorp-checkpoint           ~amd64
dev-ruby/hiera                          ~amd64
dev-ruby/hoe                            ~amd64
dev-ruby/http-cookie                    ~amd64
dev-ruby/i18n                           ~amd64
dev-ruby/json                           ~amd64
dev-ruby/kpeg                           ~amd64
dev-ruby/listen                         ~amd64
dev-ruby/log4r                          ~amd64
dev-ruby/mime-types                     ~amd64
dev-ruby/mime-types-data                ~amd64
dev-ruby/minitest                       ~amd64
dev-ruby/multi_json                     ~amd64
dev-ruby/net-scp                        ~amd64
dev-ruby/net-sftp                       ~amd64
dev-ruby/net-ssh                        ~amd64
dev-ruby/net-telnet                     ~amd64
dev-ruby/netrc                          ~amd64
dev-ruby/nokogiri                       ~amd64
dev-ruby/pkg-config                     ~amd64
dev-ruby/posix-spawn                    ~amd64
dev-ruby/power_assert                   ~amd64
dev-ruby/racc                           ~amd64
dev-ruby/rake                           ~amd64
dev-ruby/rake-compiler                  ~amd64
dev-ruby/rb-inotify                     ~amd64
dev-ruby/rdoc                           ~amd64
dev-ruby/rest-client                    ~amd64
dev-ruby/rexical                        ~amd64
dev-ruby/rgen                           ~amd64
dev-ruby/ruby_dep                       ~amd64
dev-ruby/rubygems                       ~amd64
dev-ruby/test-unit                      ~amd64
dev-ruby/thor                           ~amd64
dev-ruby/trollop                        ~amd64
dev-ruby/unf                            ~amd64
dev-ruby/unf_ext                        ~amd64
dev-ruby/xmlrpc                         ~amd64
dev-tex/bibtexu                         ~amd64
dev-tex/latex-beamer                    ~amd64
dev-texlive/texlive-basic               ~amd64
dev-texlive/texlive-bibtexextra         ~amd64
dev-texlive/texlive-fontsextra          ~amd64
dev-texlive/texlive-fontsrecommended    ~amd64
dev-texlive/texlive-fontutils           ~amd64
dev-texlive/texlive-formatsextra        ~amd64
dev-texlive/texlive-genericextra        ~amd64
dev-texlive/texlive-genericrecommended  ~amd64
dev-texlive/texlive-humanities          ~amd64
dev-texlive/texlive-langenglish         ~amd64
dev-texlive/texlive-langgerman          ~amd64
dev-texlive/texlive-latex               ~amd64
dev-texlive/texlive-latexextra          ~amd64
dev-texlive/texlive-latexrecommended    ~amd64
dev-texlive/texlive-luatex              ~amd64
dev-texlive/texlive-mathextra           ~amd64
dev-texlive/texlive-metapost            ~amd64
dev-texlive/texlive-music               ~amd64
dev-texlive/texlive-pictures            ~amd64
dev-texlive/texlive-plainextra          ~amd64
dev-texlive/texlive-pstricks            ~amd64
dev-texlive/texlive-science             ~amd64
dev-texlive/texlive-xetex               ~amd64
dev-util/boost-build                    ~amd64
dev-util/gdbus-codegen                  ~amd64
dev-util/mono-debugger                  ~amd64
dev-util/mono-tools                     ~amd64
dev-util/monodoc                        ~amd64
dev-util/netbeans                       ~amd64
dev-util/peg                            ~amd64
dev-util/pkgconfig                      ~amd64
dev-util/systemtap                      ~amd64
dev-vcs/git                             ~amd64
dev-vcs/git-crypt                       ~amd64
games-misc/fortune-mod-discworld        ~amd64
games-misc/fortune-mod-flashrider       ~amd64
games-misc/lolcat                       ~amd64
gnome-base/gnome-settings-daemon        ~amd64
gnome-base/gnome-shell                  ~amd64
gnome-base/gvfs                         ~amd64
java-virtuals/interceptor-api           ~amd64
kde-frameworks/ki18n                    ~amd64
mail-client/alpine                      ~amd64
media-fonts/ahem                        ~amd64
media-fonts/anonymous-pro               ~amd64
media-fonts/arabeyes-fonts              ~amd64
media-fonts/cheapskatefonts             ~amd64
media-fonts/clearsans                   ~amd64
media-fonts/courier-prime               ~amd64
media-fonts/farsi-fonts                 ~amd64
media-fonts/fgdc-emergency              ~amd64
media-fonts/font-schumacher-misc        ~amd64
media-fonts/font-sony-misc              ~amd64
media-fonts/fs-fonts                    ~amd64
media-fonts/hack                        ~amd64
media-fonts/heuristica                  ~amd64
media-fonts/hkscs-ming                  ~amd64
media-fonts/inconsolata-hellenic        ~amd64
media-fonts/jsmath                      ~amd64
media-fonts/kacst-fonts                 ~amd64
media-fonts/lohit-assamese              ~amd64
media-fonts/mathematica-fonts           ~amd64
media-fonts/mgopen                      ~amd64
media-fonts/mix-mplus-ipa               ~amd64
media-fonts/mplus-outline-fonts         ~amd64
media-fonts/oldstandard                 ~amd64
media-fonts/oxygen-fonts                ~amd64
media-fonts/pothana2k                   ~amd64
media-fonts/quivira                     ~amd64
media-fonts/ricty                       ~amd64
media-fonts/sgi-fonts                   ~amd64
media-fonts/sophia-nubian               ~amd64
media-fonts/stix-fonts                  ~amd64
media-fonts/takao-fonts                 ~amd64
media-fonts/unifont                     ~amd64
media-fonts/urw-fonts                   ~amd64
media-fonts/viga                        ~amd64
media-gfx/fontforge                     ~amd64
media-libs/faad2                        ~amd64
media-libs/freetype                     ~amd64
media-libs/openjpeg                     ~amd64
media-libs/opus                         ~amd64
media-libs/schroedinger                 ~amd64
media-libs/vo-aacenc                    ~amd64
media-libs/webrtc-audio-processing      ~amd64
net-analyzer/openbsd-netcat             ~amd64
net-dialup/ppp                          ~amd64
net-dialup/ppp-scripts                  ~amd64
net-dialup/rp-l2tp                      ~amd64
net-dns/unbound                         ~amd64
net-firewall/ipsec-tools                ~amd64
net-firewall/nftables                   ~amd64
net-fs/nfs-utils                        ~amd64
net-im/ktp-accounts-kcm                 ~amd64
net-im/ktp-approver                     ~amd64
net-im/ktp-auth-handler                 ~amd64
net-im/ktp-call-ui                      ~amd64
net-im/ktp-common-internals             ~amd64
net-im/ktp-contact-list                 ~amd64
net-im/ktp-contact-runner               ~amd64
net-im/ktp-desktop-applets              ~amd64
net-im/ktp-filetransfer-handler         ~amd64
net-im/ktp-send-file                    ~amd64
net-im/ktp-text-ui                      ~amd64
net-libs/belle-sip                      ~amd64
net-libs/http-parser                    ~amd64
net-libs/iojs                           ~amd64
net-libs/ldns                           ~amd64
net-libs/libeXosip                      ~amd64
net-libs/libkpeople                     ~amd64
net-libs/libnftnl                       ~amd64
net-libs/libtirpc                       ~amd64
net-libs/libtorrent                     ~amd64
net-libs/nghttp2                        ~amd64
net-libs/nodejs                         ~amd64
net-libs/ortp                           ~amd64
net-libs/pjsip                          ~amd64
net-libs/ptlib                          ~amd64
net-mail/davmail                        ~amd64
net-misc/netkit-rwall                   ~amd64
net-misc/openvswitch                    ~amd64
net-p2p/rtorrent                        ~amd64
net-wireless/blueman                    ~amd64
net-wireless/bluez                      ~amd64
sci-libs/fftw                           ~amd64
sci-libs/gts                            ~amd64
sci-visualization/gnuplot               ~amd64
sys-apps/attr                           ~amd64
sys-apps/baselayout                     ~amd64
sys-apps/hwids                          ~amd64
sys-apps/install-xattr                  ~amd64
sys-apps/keyutils                       ~amd64
sys-apps/kmod                           ~amd64
sys-apps/modutils                       ~amd64
sys-apps/pcsc-tools                     ~amd64
sys-apps/portage                        ~amd64
sys-apps/sandbox                        ~amd64
sys-apps/texinfo                        ~amd64
sys-block/thin-provisioning-tools       ~amd64
sys-boot/gnu-efi                        ~amd64
sys-boot/os-prober                      ~amd64
sys-boot/syslinux                       ~amd64
sys-cluster/cman                        ~amd64
sys-cluster/corosync                    ~amd64
sys-cluster/crmsh                       ~amd64
sys-cluster/drbd                        ~amd64
sys-cluster/heartbeat                   ~amd64
sys-cluster/libccs                      ~amd64
sys-cluster/libcman                     ~amd64
sys-cluster/libdlm                      ~amd64
sys-cluster/libfence                    ~amd64
sys-cluster/liblogthread                ~amd64
sys-cluster/libqb                       ~amd64
sys-cluster/pacemaker                   ~amd64
sys-cluster/resource-agents             ~amd64
sys-devel/automake                      ~amd64
sys-devel/automake-wrapper              ~amd64
sys-devel/gettext                       ~amd64
sys-devel/llvm                          ~amd64
sys-firmware/ipxe                       ~amd64
sys-firmware/seabios                    ~amd64
sys-firmware/sgabios                    ~amd64
sys-firmware/vgabios                    ~amd64
sys-fs/aufs-headers                     ~amd64
sys-fs/aufs-util                        ~amd64
sys-fs/aufs4                            ~amd64
sys-fs/btrfs-progs                      ~amd64
sys-fs/e2fsprogs                        ~amd64
sys-fs/eudev                            ~amd64
sys-fs/libeatmydata                     ~amd64
sys-fs/udev-init-scripts                ~amd64
sys-kernel/gentoo-sources               ~amd64
sys-kernel/linux-firmware               ~amd64
sys-libs/db                             ~amd64
sys-libs/e2fsprogs-libs                 ~amd64
sys-libs/libseccomp                     ~amd64
sys-libs/zlib                           ~amd64
sys-power/suspend                       ~amd64
sys-process/criu                        ~amd64
sys-process/procps                      ~amd64
virtual/acl                             ~amd64
virtual/emacs                           ~amd64
virtual/gradle                          ~amd64
virtual/jdk                             ~amd64
virtual/jre                             ~amd64
virtual/krb5                            ~amd64
virtual/libintl                         ~amd64
virtual/libusb                          ~amd64
virtual/monodoc                         ~amd64
virtual/pkgconfig                       ~amd64
virtual/python-backports_abc            ~amd64
virtual/python-funcsigs                 ~amd64
virtual/python-futures                  ~amd64
virtual/python-ipaddress                ~amd64
virtual/python-singledispatch           ~amd64
virtual/ruby-ffi                        ~amd64
virtual/ruby-ssl                        ~amd64
virtual/rubygems                        ~amd64
virtual/udev                            ~amd64
www-client/w3mir                        ~amd64
www-servers/apache                      ~amd64
www-servers/jboss-bin                   ~amd64
www-servers/tomcat                      ~amd64
www-servers/tornado                     ~amd64
x11-proto/xcb-proto                     ~amd64
