app-admin/puppet                    shadow
app-admin/sysstat                   isag lm_sensors
app-crypt/pinentry                  -gnome-keyring
app-editors/emacs                   Xaw3d gzip-el hesiod libxml2 m17n-lib sound wide-int -gtk -gtk3 -toolkit-scroll-bars -imagemagick -motif
app-editors/vim                     cscope
app-emulation/docker                -btrfs -device-mapper aufs experimental lxc overlay
app-emulation/libvirt               firewalld numa virt-network -virtualbox
app-emulation/lxc                   cgmanager
app-emulation/qemu                  -gtk2 iscsi ssh systemtap tls usbredir vde numa spice -fdt
app-misc/mc                         mclib sftp
app-portage/layman                  cvs gpg sync-plugin-portage
app-text/texlive                    extra graphics music science
dev-cpp/commoncpp2                  -gnutls
dev-db/freetds                      mssql
dev-db/mysql                        -server
dev-db/sqlite                       secure-delete
dev-java/icedtea                    -alsa -cups -webstart
dev-java/icedtea-bin                -alsa -cups -webstart
dev-lang/php                        bcmath calendar cgi flatfile ftp gmp inifile intl mysql mysqli pdo soap sockets sqlite xmlreader xmlrpc xmlwriter xslt zip -berkdb
dev-lang/python                     sqlite
dev-libs/apr-util                   sqlite -ldap
dev-libs/cyrus-sasl                 -berkdb
dev-libs/elfutils                   lzma
dev-libs/folks                      -bluetooth
dev-libs/libgcrypt                  static-libs
dev-libs/libgdata                   gnome
dev-libs/libgpg-error               static-libs
dev-libs/libpcre                    pcre16
dev-libs/lzo                        static-libs
dev-libs/nss                        utils
dev-ruby/fog                        libvirt
dev-scheme/guile                    discouraged networking
dev-vcs/subversion                  extras -dso
gnome-base/gnome-control-center     networkmanager
mail-client/alpine                  passfile smime -kerberos
mail-filter/procmail                mbox
media-gfx/graphviz                  devil gdk-pixbuf gts guile postscript ruby
media-gfx/imagemagick               autotrace corefonts djvu fontconfig fpx graphviz openexr postscript q32 q64 q8 wmf -openmp
media-gfx/pstoedit                  emf plotutils
media-libs/alsa-lib                 alisp
media-libs/cogl                     gles2
media-libs/freetype                 utils
media-libs/libvpx                   postproc
media-libs/libvpx                   svc
media-libs/libwmf                   -expat
media-sound/sox                     id3tag wavpack
media-video/libav                   vaapi
net-analyzer/net-snmp               elf lm_sensors netlink pci
net-analyzer/nmap                   -lua
net-dialup/ppp                      activefilter dhcp radius eap-tls
net-dialup/xl2tpd                   dnsretry
net-dns/avahi                       autoipd mdnsresponder-compat -mono utils
net-dns/bind                        dlz filter-aaaa -ldap -odbc -postgres
net-dns/dnsmasq                     script
net-dns/unbound                     -ecdsa
net-firewall/ipsec-tools            nat
net-firewall/ipset                  -modules
net-firewall/iptables               netlink conntrack
net-fs/cifs-utils                   creds -caps-ng
net-fs/samba                        swat client
net-libs/c-client                   chappa
net-libs/gnutls                     dane pkcs11
net-libs/opal                       sipim
net-libs/pjsip                      g711 g722 g7221 gsm -ilbc l16
net-libs/telepathy                  farstream
net-misc/libreswan                  dnssec
net-misc/ntp                        caps
net-misc/openvpn                    iproute2 passwordsave pkcs11
net-misc/openvswitch                -modules
net-misc/vpnc                       resolvconf
net-nds/openldap                    slp -minimal -syslog
sci-libs/gdal                       mysql
sci-libs/gsl                        cblas-external
sci-visualization/gnuplot           ggi
sys-apps/dstat                      wifi
sys-apps/openrc                     netifrc
sys-apps/pciutils                   zlib
sys-apps/util-linux                 slang
sys-block/parted                    device-mapper
sys-boot/grub                       -multislot
sys-devel/binutils                  multitarget
sys-devel/gcc                       gcj mudflap objc objc++ objc-gc
sys-fs/aufs4                        kernel-patch nfs
sys-kernel/gentoo-sources           experimental symlink
sys-libs/glibc                      gd
sys-libs/libseccomp                 static-libs
sys-power/cpupower                  cpufreq_bench
www-client/links                    lzma
www-servers/apache                  -ldap
www-servers/tomcat                  extra-webapps
