[dotnet] 
priority = 50 
location = /var/lib/layman/dotnet
layman-type = git
sync-type = laymansync
sync-uri = git://anongit.gentoo.org/proj/dotnet.git
auto-sync = Yes

[emacs]
priority = 50 
location = /var/lib/layman/emacs
layman-type = git
sync-type = laymansync
sync-uri = git://anongit.gentoo.org/repo/proj/emacs.git
auto-sync = Yes

[lisp]
priority = 50 
location = /var/lib/layman/lisp
layman-type = git
sync-type = laymansync
sync-uri = git://anongit.gentoo.org/proj/lisp.git
auto-sync = Yes

[mysql]
priority = 50 
location = /var/lib/layman/mysql
layman-type = git
sync-type = laymansync
sync-uri = git://anongit.gentoo.org/proj/mysql.git
auto-sync = Yes

[hossie] 
priority = 50 
location = /var/lib/layman/hossie
layman-type = git
sync-type = laymansync
sync-uri = https://git.hossie.de/scm/gen/gentoo-overlay.git
auto-sync = Yes

[tmacedo]
priority = 50
location = /var/lib/layman/tmacedo
layman-type = git
sync-type = laymansync
sync-uri = git://github.com/tmacedo/portage.git
auto-sync = Yes
