LANG=de_DE.utf8
LC_CTYPE=de_DE.utf8
LC_MESSAGES=de_DE.utf8
LC_PAPER=de_DE.utf8
GDM_LANG=de_DE.utf8
CL_LOCALE=de_DE
#LANG=en_US.utf8
#LC_CTYPE=en_US.utf8
#LC_MESSAGES=en_US.utf8
#LC_PAPER=en_US.utf8
#GDM_LANG=en_US.utf8
#CL_LOCALE=en_US
